$base-font-size: 16px;
$brand-color: #223843;

$color-a: #223843;
$color-b: #DE541E;
$color-c: #0D1F22;
$color-d: #6F732F;
$color-e: #B38A58;

$black: #000000;
$white: #ffffff;
$grey: #333333;

$nav-height: 60px;

$base-padding: 24px;

// durations
$duration-menu-length: 0.6s;
$base-duration: 0.3s;
$duration-slides: 1s;